<h1><%= "The total sum of all properties is #{@realsum}" %></h1>
  <table class="table table-hover">
<% @realestates.each do |realestate| %>
  <tr>
      <td><%= link_to(realestate.zipaddress, realestate) %></td>
      <td><%= realestate.zipaddress %></td>
      <td><%= realestate.zipcity %></td>
      <td><%= realestate.zipcode %></td>
      <td><%= realestate.zestimate %></td>
  </tr>
<% end %>
  </table>
