<%= form_for @financialinstrument do |f| %>

  <%= f.label :instrument_type%>
  <%= f.select :instrument_type, [['asset', "asset"], ['liability', "liability"], ['income', "income"]] %>
  <br>

  <%= f.label :instrument_sub %>
  <%= f.select :instrument_sub, [["savings account", "savings account"], ["checking account", "checking account"], ['taxable investment account', "taxable investment account"], ["IRA Account", "IRA Account"]] %>
  <br>
  <%= f.label :amount %>
  <%= f.text_field :amount %>
  <br>
  <p>
  <%= f.submit  class: "btn btn-primary" %>
<% end %>


<div id="myStuff" style="display:none;">

  MY STUFF
</div>
