<h1><%= "The total sum of all accounts is #{@finsum}" %></h1>
<table class="table table-hover">
<% @financialinstruments.each do |financialinstrument| %><tr>
      <td><%= link_to(financialinstrument.instrument_sub, financialinstrument) %></td>
      <td><%= financialinstrument.instrument_type %></td>
      <td><%= financialinstrument.instrument_sub %></td>
      <td><%= financialinstrument.amount %></td>
    </tr>
<% end %>
</table>

