<h1><%= "Your current account balance is #{ActionView::Base.new.number_to_currency @finsum}" %></h1>
<table class="table table-hover">
<% @financialinstruments.each do |financialinstrument| %><tr>
      <% if financialinstrument.instrument_type == "asset" || financialinstrument.instrument_type == "liability" %>
      <td><%= link_to(financialinstrument.instrument_sub, financialinstrument) %></td>
      <td><%= financialinstrument.instrument_type %></td>
      <td><%= financialinstrument.instrument_sub %></td>
      <td><%= ActionView::Base.new.number_to_currency financialinstrument.amount %></td>
    </tr>
<% end %>
</table>

<h1><%= "Your expected monthly cash inflow is #{ActionView::Base.new.number_to_currency @finsum}" %></h1>
<table class="table table-hover">
			<% @financialinstruments.each do |financialinstrument| %><tr>
      <% if financialinstrument.instrument_type == "income" || financialinstrument.instrument_type == "expense" %>
      <td><%= link_to(financialinstrument.instrument_sub, financialinstrument) %></td>
      <td><%= financialinstrument.instrument_type %></td>
      <td><%= financialinstrument.instrument_sub %></td>
      <td><%= ActionView::Base.new.number_to_currency financialinstrument.amount %></td>
      <% end %>
    </tr>
<% end %>
</table>
