<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-header navbar-right"> <!--this is nav bar right -->
    <% if signed_in? %>
      <p class="navbar-text">
        <%= link_to "My profile", current_user %>
      </p>
      <p class="navbar-text">
        <%= link_to "Sign out", signout_path, method: "delete" %>
      </p>
    <% else %>
      <p class="navbar-text">
        <%= link_to "Sign up", signup_path %>
      </p>
      <p class="navbar-text">
        <%= link_to "Sign in", signin_path %>
      </p>
    <% end %>
  </div>
  <div class="navbar-default">
    <ul class="nav navbar-nav">
      <li><%= link_to('My Accounts', financialinstruments_path) %></li>
      <li><%= link_to('My Properties', realestates_path) %></li>
    </ul>
  </div>
</nav>